* {
  padding: 0%;
  margin: 0%;
}

/* .banner1 {
  background-size: cover;
} */

.f-banner {
  height: auto;
}

.f-border {
  position: absolute;
  left: 0;
  top: 314px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}

.u-panel {
  border-radius: 27px;
  border: 1px solid #f3f2f7;
  box-shadow: 0px 5px 5px 0px #bfbdc1;
  position: relative;
  top: -56vh;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
}

.f-heading {
  display: flex;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f3f2f7;
  height: 16vh;
}

.f-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.f-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  
  scrollbar-width: 5px;
  width: 100%;
  height: 50vh;

}

/* .test {
} */

.profile-name {
  display: flex;
  flex-direction: row;
  margin-top: -12px;

}

.myitem {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
}

.pro-pic {
  width: 30px;
  height: 2em;
  border-radius: 100%;
}

.f-text {
  font-size: 1.3em;
  font-weight: 400;
  margin-left: 16px;
  color: black;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
